.company-list {
  margin: 10px;
  padding: 10px;
  border: 1px solid #bbb;
  display: inline-block;
  width: 45%;
  background: #F9F9F9;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.company-list>table>tr>td {
  padding: 5px;
}
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
.disp-inline {
  display: inline-block;
  margin-right: 10px !important;
}
.width-100 {
  width: 100%;
}
