body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.purple-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#c850c0), to(#4158d0)) fixed;
  background: -o-gradient(linear, left top, left bottom, from(#c850c0), to(#4158d0)) fixed;
  background: -moz-gradient(linear, left top, left bottom, from(#c850c0), to(#4158d0)) fixed;
  background: -gradient(linear, left top, left bottom, from(#c850c0), to(#4158d0)) fixed;
}
.gray-gradient {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}
